{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey | trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('app_login') }}" method="post">
		<div class="container mt-3 ml-5">
			<h1 class="title is-5">Вход в аккаунт</h1>
			<div class="columns">
				<div class="column is-one-fifth">
					<label for="username">Имя</label>
					<div class="control">
						<input class="input" type="text" id="username" name="_username" value="{{ last_username }}"/>
					</div>
				</div>
			</div>

			<div class="columns">
				<div class="column is-one-fifth">
					<label for="password">Пароль</label>
					<div class="control">
						<input class="input" type="password" id="password" name="_password"/>
					</div>
				</div>
			</div>

			<div class="columns">
				<div class="column is-one-fifth">
					<div class="control">
						<button type="submit" class="button is-success">Войти</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="_target_path" value="/"/>
		</div>
	</form>
{% endblock %}
